@import "tailwindcss";

@tailwind base;
html,
body {
	min-height: 100vh;
	padding: 0;
	margin: 0;
	font-family: system-ui, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h1 {
	@apply text-7xl;
	@apply font-extrabold;
}

.btn {
	@apply py-2 px-5 rounded-full font-semibold bg-amber-300 transition-colors duration-300;
}

.btn:hover {
	@apply bg-amber-400;
}

@tailwind components;
@tailwind utilities;
